@model WebApplication2.Models.stade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>stade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stade_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stade_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville.ville_lib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville.ville_lib)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stade_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
