@model WebApplication2.Models.joueur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>joueur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Joueur_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joueur_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur_prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur_prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipe.equipe_lib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipe.equipe_lib)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.joueur_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
